@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: white;
}

.bg-gradient-primary {
  background: linear-gradient(135deg, #e5e6eb 0%, #764ba2 100%);
}
